




     	body { 
     		background-color: #FF0000;
     	}
     	
        #otsikko {
            font-family: 'Christmas Script', monospace;
            color: #FFFFFF; 
        }
        
        #aika { 
        	color: #FFFFFF;
        }
        
        #repo { 
        	color: #FF0000;
        }
        
        #kokodiv {
            border: 10px dotted #FFFFFF;
            border-radius: 10px;
        }


