<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Coffee cam</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div id="content">
      <h1 id="otsikko">Kattilan kahvikamera</h1>
      <p id="aika"></p>
      <img id="kuva" src="{{ url_for('static', filename='images/kahvi.jpg') }}" alt="Coffee Cam">
      <form method="post" action="/kahvi">
        <button id="painike" type="submit" value="Haluan kahvia" name="Submit"><span id="kahvinappitxt">Haluan kahvia</span></button>
      </form>
      <p id="halukkaat">{{ halukkaat }}</p>
      <p id="laskuri">{{ laskuri }}</p> 
      <div id="repo">
        <a href="https://github.com/teemupaloniemi/kahvikamera">kahvikamera repo</a>
      </div>
    </div>
    <script>
    function displayTime() {
      const now = new Date();
      const options = {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false
      };
      const timeString = now.toLocaleTimeString(undefined, options);
      document.getElementById('aika').textContent = "Kahvin tila tarkistettu: " + timeString;
    }

    // Call the function when the page loads
    displayTime();

    function updateImage() {
      const imageUrl = "{{ url_for('static', filename='images/kahvi.jpg') }}";
      const newImageUrl = imageUrl + "?t=" + new Date().getTime();

      document.getElementById('kuva').src = newImageUrl;
      displayTime();
    }

    // This is for updating the count of submits
    function updatePage() {
      location.reload(true);
    }

    setInterval(updateImage, 10000);
    setInterval(updatePage, 100000);

    </script>
  </body>
</html>
