<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Coffee cam</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>
    :root {
      --halukkaat: {{ halukkaat }}; 
    }

    #background-coffee {
      top: 0;
      z-index: -1;
      left: 0;
      width: 100%;
      height: calc(10 * (10% - var(--halukkaat)));
      display: flex;
      background-color: #AE8B6C;
    }
  </style>
</head>

<body>
  <div id="background-coffee"></div>
  <div id="content">
    <h1 id="otsikko">Kattilan kahvikamera</h1>
    <img id="kuva" src="{{ url_for('static', filename='images/kahvi.jpg') }}" alt="Coffee Cam">
    <p id="halukkaat">Halukkaat: {{ halukkaat }}</p>
  </div>
  <script>
    function updateImage() {
      const imageUrl = "{{ url_for('static', filename='images/kahvi.jpg') }}";
      const newImageUrl = imageUrl + "?t=" + new Date().getTime();

      document.getElementById('kuva').src = newImageUrl;
      location.reload()
    }
    setInterval(updateImage, 10000);
  </script>
</body>

</html>