<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>About Coffee Cam</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>

        </header>
        <div id="content">
            <h1>Tietoa</h1>
            <h2>Lyhyt esittely</h2>
            <h2>Historiaa</h2>
            <h3>Kahvikamerat maailmanlaajuisena ilmiönä</h3>
            <h3>Kattilan vanha kahvikamera</h3>
            <h2>Nykyinen kehitys</h2>
            <h3>Järjestelmän kuvaus</h3>
            <h2>Kahvikamera yhteisöllinesä vaikuttajana</h2>
            <h3>Kehitysyhteistyö</h3>
            <h3>Yhteinen vempain</h3>
        </div>
        <footer>
            <a href="https://github.com/teemupaloniemi/kahvikamera">kahvikamera repo</a>
        </footer>
    </body>
</html>